﻿@model AstonRoseFrondEnd.Models.CSRListModel
@{
    
    var csrList = Model.CSRList;
    var Year = ViewBag.Year;

    var pageIndex = ViewBag.PageIndex;
    var pageCount = ViewBag.PageCount;
    var previous = (pageIndex == 0 ? " unavailable" : "");
    var next = (pageIndex == (pageCount - 1) ? " unavailable" : "");
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#currentyear").text($(".active").text())
    });
</script>
<section class="row content">
    
    <div class="six columns">
    <div style="min-height:400px">
    <div class="masthead"><h1>CSR <span id="currentyear"></span> </h1> </div>
    @foreach (var csr in csrList)
    {
    	
        <h2><a href="@Url.Action("csrdetail", "csr", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(csr.Title), Id = csr.Id })">@csr.Title </a> <span class="date"> - @csr.Date.ToString("dd/MM/yyyy") </span>     </h2>
        
        {
            var description = System.Text.RegularExpressions.Regex.Replace(csr.FullDescription, "<[^>]+>", "");
            description = (description.Length > 200 ? description.Substring(0, 200) + "..." : description);
         
        <p>
        
        @if (!string.IsNullOrEmpty(csr.Image))
        {
        <img align="left" style="padding-right:6px" src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(csr.Image, 75, 75))" alt=""/>
        }
        
        @description </p>
        }
        <hr/>
    }   
        </div>
 <ul class="pagination">
          <li class="arrow@(previous) "><a href="@(previous == "" ? Url.Action("Page", new { pageIndex = pageIndex - 1, pageCount = pageCount, year = Year }) : "#")">&laquo; Previous</a></li>
          <li class="arrow@(next)"><a href="@(next == "" ? Url.Action("Page", new { pageIndex = pageIndex + 1, pageCount = pageCount, year = Year }) : "#")">Next &raquo;</a></li>
		</ul>

        
    
    </div>
    
   <div class="two columns">
   @{Html.RenderPartial("_Archive", Model.FilteredList);}
    </div>
    
    
    
  </section>
<!-- end row -->
