﻿@model AstonRoseFrondEnd.Models.CSRListModel
@{
    var filterList = Model.FilteredList;
    var selectedCSR = Model.SelectedCSR;
    
}
<section class="row content">
    <div class="six columns">
    <ul class="pagination">
          <li class="arrow"><a href="javascript:window.history.go(-1);">&laquo; Back</a></li>
		</ul>
  		
        <h1>@selectedCSR.Title</h1>
        <p>
        @if (!string.IsNullOrEmpty(selectedCSR.Image))
        {
        <img align="left" style="padding-right:10px" src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(selectedCSR.Image, 200, 200))" alt=""/>
        }
        <span class="date"> @selectedCSR.Date.ToString("dd/MM/yyyy") </span> <br />
        @Html.Raw(selectedCSR.FullDescription)</p>
        
        
        
    </div>
    
    <div class="two columns">
   @{Html.RenderPartial("_Archive", Model.FilteredList);}
    </div>
    
    
    
   
    
    
    
  </section>
<!-- end row -->
