﻿<script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>

@model AstonRoseFrondEnd.Models.ClientTypeListModel
@{
    var clientTypeDetail = (Model.SelectedClientType == null ? new AstonRoseFrondEnd.Models.ClientTypeViewModel() : Model.SelectedClientType); 
    var images = (clientTypeDetail.Images == null ? new List<AstonRoseFrondEnd.Models.UploadedImage>() : clientTypeDetail.Images);
    int midpoint = Model.ViewList.Count / 2;
    if (Model.ViewList.Count % 2 == 1)
    {
        midpoint = midpoint + 1;
    }
}
<section class="row content">
  
  <div class="eight columns">
  
  <div class="dropdown">
	<a class="account"><i class="icon-cog"></i>Select Client Type</a>
	<div class="submenu" style="display: none;">
	  <ul class="root">
              @foreach (var item in Model.ViewList)
      {

        <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
        
      }
        </ul>
	</div>
	</div>
  
  
  
  
     
  </div>

   <div class="four columns push-four">
    	<div class="masthead"><h1>Client Types</h1></div>
     <p> What we can do to assist you will depend on the nature of your business broadly as an occupier of property or an investor owner deriving an income, capital growth or both.</p>
        
        <div class="row">
        <div class="four columns">
                <ul class="no-bullet">
                @for (int i = 0; i < midpoint; i++)
                {
                    var item = Model.ViewList[i];
                    <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
                } 
                </ul>
            </div>
            <div class="four columns">
                <ul class="no-bullet">
                 @for (int i = midpoint; i < Model.ViewList.Count; i++)
                {
                    var item = Model.ViewList[i];
                    <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
                } 
                 
                </ul>
            </div>
        </div><!-- end row -->
         
    </div>
    
    <div class="four columns pull-four">
    @if (images != null && images.Count > 0) 
    {
    	<p><img src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(images[0].ImageName, 449, 247))" alt=""></p>
    }
     
    </div>
    
    
    
  </section>
<!-- end row -->
