﻿@model List<AstonRoseFrondEnd.Models.CSRFilter>
@{
    var Year = ViewBag.Year;
}
<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors", "home")">Directors</a>
                	
                </li>
                <li><a href="@Url.Action("ourteam", "home")">Our Team</a></li>
                <li><a href="@Url.Action("ourclients", "home")">Our Clients</a></li>
                <li><a href="@Url.Action("ouroffices", "home")">Our Offices</a></li>
                <li><a href="@Url.Action("casestudies", "home")">Case Studies</a></li>
                <li><a href="@Url.Action("index")">CSR</a>
                
                <nav class="news-filter">
                <h3>
    Archive</h3>

        	<ul>


            @{
                
                foreach (var y in Model)
                {
                                    
            	<li><a href="@Url.Action("search", new { year = y.Year })"  @(Year == y.Year ? "class=active" : "")  >@y.Year (@y.Count)</a>
                	
                </li>
                }
                }
                
            </ul>
        </nav>
                
                
                </li>
            </ul>
        </nav>
