﻿@model AstonRoseFrondEnd.Models.NewsListModel
@{
    var filterList = Model.FilteredList;
    var selectedNews = Model.SelectedNews;
    
}
<section class="row content">
    <div class="six columns">
    <ul class="pagination">
          <li class="arrow"><a href="javascript:window.history.go(-1);">&laquo; Back</a></li>
		</ul>
  		
        <h1>@selectedNews.Title <span class="date"> @selectedNews.NewsDate.ToString(" - dd/MM/yyyy") </span></h1>
        <p>
        @if (!string.IsNullOrEmpty(selectedNews.Image))
        {
        <img align="left" style="padding-right:10px" src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(selectedNews.Image, 200, 200))" alt=""/>
        }
        @Html.Raw(selectedNews.FullDescription)</p>
        
        
    </div>
    <div class="two columns">
   @{Html.RenderPartial("_Archive", Model.FilteredList);}
    </div>
    
  </section>
<!-- end row -->
