﻿@model AstonRoseFrondEnd.Models.LogOnModel
<style>
     .page-controls
     {
        border-bottom:0px;
        border-top:0px;
     }
</style>
@{
    ViewBag.Title = "Log On";
}
<section class="row content">

<div class="four columns page-controls">

<h2>Log On</h2>
<p>
    Please enter your user name and password. @*@Html.ActionLink("Register", "Register") if you don't have an account.*@
</p>


@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                Email ID
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
</div>
</section>