﻿@if (Request.IsAuthenticated)
{
    
    <div class="corners tab login">@*Welcome <strong>@User.Identity.Name</strong>!*@<a href="@Url.Action("logoff", "account")" class="gradient "><i class="icon-lock"></i>Log Off</a></div>
    
    
    
}
else
{
    
    
    <div class="corners tab login"><a href="@Url.Action("logon", "account")" class="gradient "><i class="icon-lock"></i>Client Login</a></div>
    
@*@:[ @Html.ActionLink("Log On", "LogOn", "Account") ]*@
}
