﻿@using AstonRoseFrondEnd.Models;
@model SolrPaginationInfo

<ul class="pagination">
@if (Model.TotalItemCount > 0)
{
    
    <li>Properties @Model.FirstItemIndex - @Model.LastItemIndex of <b>@Model.TotalItemCount</b></li>
    
    if (Model.HasPrevPage)
    { 
    <li class="arrow"><a href="@Model.PrevPageUrl">&laquo; Prev</a></li>
    }
    else if (Model.Pages.Count() > 0)
    { 
    <li class="arrow  unavailable"><a href="#">&laquo; Prev</a></li>
    }
    foreach (var p in Model.Pages)
    {
        if (p == Model.CurrentPage)
        {
    <li class="current"><a>@p</a></li> 
        }
        else
        {
    <li><a href="@Model.PageUrlFor(p)">@p</a></li>  
        }
    }
    if (Model.HasNextPage)
    { 
    <li class="arrow"><a href="@Model.NextPageUrl">Next &raquo;</a></li>
    }
    else if (Model.Pages.Count() > 0)
    { 
    <li class="arrow  unavailable"><a href="#">Next &raquo;</a></li>
    }

}
</ul>