﻿@model List<AstonRoseFrondEnd.Models.NewsFilter>
           @{
               var Year = ViewBag.Year;
           }
<h3>Archive</h3>
    	<nav class="news-filter">
        	<ul>


            @{
                
                foreach (var y in Model)
                {
                                    
            	<li><a href="@Url.Action("search", new { year = y.Year })"  @(Year == y.Year ? "class=active" : "")  >@y.Year (@y.Count)</a>
                	
                </li>
                }
                }
                
            </ul>
        </nav>