﻿@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.PageTitle Aston Rose Chartered Surveyors</title>
    <meta name="title" content="@ViewBag.MetaTitle" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <link rel="stylesheet" href="@Url.Content("~/Content/stylesheets/foundation.css")" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/stylesheets/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/stylesheets/app.css")" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/modernizr.foundation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")"      type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"    type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
@{ Html.RenderPartial("_GoogleAnalytics");}


</head>
<body @(string.IsNullOrEmpty(ViewBag.BodyCSS) ? "" : "class=detail")>
    <header class="row g-header">
    <div class="logo">
    <a href="@Url.Action("index", "home")"><img src="@Url.Content("~/Content/images/as-logo.png")" alt="Aston Rose"></a>
    </div>
    <div class="strap">integrity . passion . performance</div>
    
    <div class="corners tab my-prop-list"><a  href="@Url.Action("myproperties", "property")" class="gradient">My Property List: <span id="PropCount">@ViewBag.PropertyCount</span>  items</a></div>
    @{Html.RenderPartial("_LogOnPartial", "Shared");}
    
    
    <a href="#" class="toggle-menu">Menu</a>

  </header>
    <!-- end row -->
    <nav class="row g-nav">
  	<ul>
    	<li class="hide-for-small"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("about", "home")">About Us</a></li>
        <li><a href="@Url.Action("index", "property")">Property Search</a></li>
        <li><a href="@Url.Action("index", "services")">Services</a></li>
        <li><a href="@Url.Action("index", "clienttypes")">Client Type</a></li>
        <li><a href="@Url.Action("index", "news")">News</a></li>
        <li><a href="@Url.Action("index", "contacts")">Contact</a></li>
        <li class="show-for-small"><a href="#">My Property List</a></li>
        <li class="show-for-small"><a href="#">Client Login</a></li>
    </ul>
  </nav>
    @RenderBody()
    <footer class="row g-footer">
  	<dl>
    	<dt>About Us</dt>
        <dd><a href="@Url.Action("directors", "home")">Directors</a></dd>
        <dd><a href="@Url.Action("ourteam", "home")">Our Team</a></dd>
        <dd><a href="@Url.Action("ourclients", "home")">Our Clients</a></dd>
        <dd><a href="@Url.Action("ouroffices", "home")">Our Offices</a></dd>
        <dd><a href="@Url.Action("casestudies", "Home")">Case Studies</a></dd>
        <dd><a href="@Url.Action("index", "csr")">CSR</a></dd>
    </dl>
    @{
        var servicesList = ViewBag.AllServices as List<AstonRoseFrondEnd.Models.ServiceView>;
        var clientTypeList = ViewBag.AllClientTypes as List<AstonRoseFrondEnd.Models.ClientTypeView>;
        }
    
    <dl class="nmb">
    	<dt>Services</dt>
        @{
            
            int cnt = (servicesList.Count > 7 ? 7 : servicesList.Count);
            for (int i = 0; i < cnt; i++)
            {
        
        <dd><a href="@Url.Action("select", "services", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(servicesList[i].Title), id = servicesList[i].Id })">@servicesList[i].Title</a></dd>
            }
          }
     
    </dl>
    <dl class="no-dt">
    @{ for (int i = cnt; i < servicesList.Count; i++)
       {
        <dd><a href="@Url.Action("select", "services", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(servicesList[i].Title), id = servicesList[i].Id })">@servicesList[i].Title</a></dd>
       }
        }
    </dl>
        
     <dl>
    	<dt>Client Type</dt>

        
          @for (int i = 0; i < clientTypeList.Count; i++)
          {
        
        <dd><a href="@Url.Action("select", "clienttypes", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(clientTypeList[i].Title), id = clientTypeList[i].Id })">@clientTypeList[i].Title</a></dd>
          }
        

        
    </dl>
    <div class="offices">
    	<img src="@Url.Content("~/Content/images/as-logo.png")" alt="Aston Rose">
        <p>London – 020 7629 1533<br>
Worthing  – 01903 507751<br>
Chichester  – 01243 881533</p>
    </div>
    

   
  </footer>
   <div id="copyright" class="row" >
   <hr />
   Copyright © 2013 Aston Rose. All rights reserved.
                    	
                    </div>
    @(Html.Telerik().ScriptRegistrar())
    <script type="text/javascript" src="@Url.Content("~/Scripts/2012.1.214/telerik.tabstrip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/2012.1.214/telerik.panelbar.min.js")"></script>
</body>
</html>
