﻿@using System.Text.RegularExpressions;
@using AstonRoseFrondEnd.Helpers;
@using AstonRoseFrondEnd.Models;
@model AstonRoseFrondEnd.Models.Property
@{
    var prop = Model;
   
}
<li>
    <h1>
        <a href="@Url.Action("detail", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(prop.ToString()), Id = prop.Id })">@prop.ToString()</a></h1>
    <div class="row">
        <div class="four columns thumbnail">
            <a href="@Url.Action("detail", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(prop.ToString()), Id = prop.Id })">
                <img src="@AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(prop.Image, 216, 162)" alt=""></a><span
                    class="under-offer">@prop.Status</span></div>
        <div class="four columns propertylist">
            <p>
                <span>Type:</span> @prop.Type<br />
                @if (!string.IsNullOrEmpty(prop.Tenure))
                {
                    <text><span>Tenure:</span> @prop.Tenure<br /></text>
                }
                <span>Price:</span> @prop.Price<br />
                @if (!string.IsNullOrEmpty(prop.Incentive))
                {
                    <text> <span>Incentive:</span> @prop.Incentive
                    <br /></text>
                }
                @if (!string.IsNullOrEmpty(prop.SquareFeet))
                {
                    <span>Floor Area (FT&sup2;):</span> @prop.SquareFeet 
                }
                <br />
                @if (!string.IsNullOrEmpty(prop.SquareMeters))
                {
                   
                    <span>Floor Area (M&sup2;):</span> @prop.SquareMeters
                }
            </p>
            @if (prop.Added)
            {
                <a href="#" class="button radius small disabled">Added</a>
            }
            else
            {
                <a style="display:" id="@prop.Id"  href="javascript:AddToMyProperty(this, @prop.Id)" class="button radius small">
                    Add to my property list</a>    
                <a href="#" style="display: none" class="button radius small disabled">Added</a>
            }
        </div>
        <div class="eight columns">
            <div class="panel radius contact">
                <ul class="no-bullet">
                    @{ var team = AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetContact(prop.ContactIDs);
                        <li>Contact:</li>
                        <li><i class="icon-user"></i>@team.FirstName @team.LastName</li>
                        <li><i class="icon-phone"></i><a href="tel:@team.TelephoneNumber">@team.TelephoneNumber</a></li>
                        <li><i class="icon-envelope-alt"></i><a href="mailto:@team.Email?subject=@prop.ToString()">
                            Email @team.FirstName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- end row -->
</li>
