﻿<script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>
@model AstonRoseFrondEnd.Models.ServiceListModel
@{
    var serviceDetail = (Model.SelectedService == null ? new AstonRoseFrondEnd.Models.ServiceViewModel() : Model.SelectedService);
    var images = (serviceDetail.Images == null ? new List<AstonRoseFrondEnd.Models.UploadedImage>() : serviceDetail.Images);
}
<section class="row content">

  <div class="eight columns">
  
  <div class="dropdown">
	<a class="account"><i class="icon-cog"></i>Select Service</a>
	<div class="submenu" style="display: none;">
	  <ul class="root">

      @foreach (var item in Model.ViewList)
      {

        <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
        
      }
        </ul>
	</div>
	</div>
  </div>

   <div class="four columns push-four">
    	<div class="masthead"><h1>@serviceDetail.Title</h1></div>
       <p> @Html.Raw(serviceDetail.Description)</p>
       @if (serviceDetail.Title == "Property Management")
       {
       <p>
       To find out more about our property management services, please click on the relevant links:
       <a href="@Url.Action("select", new { title = "Commercial-Management", Id = 7 })">Commercial</a> | <a href="@Url.Action("Select", new { title = "Residential-Management", Id = 8 })">Residential</a>
       </p>
       }
        
        <div class="row">
        	<div class="four columns">
            	<h2>@serviceDetail.ServicesOfferedTitle1</h2>
                <ul class="disc">
                @foreach (var item in Convert.ToString(serviceDetail.ServicesOffered1).Split(new string[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
                {

        <li>@item</li>
        
                }
                	
                </ul>
            </div>
            <div class="four columns">
            	<h2>@serviceDetail.ServicesOfferedTitle2</h2>
                <ul class="disc">
                 @foreach (var item in Convert.ToString(serviceDetail.ServicesOffered2).Split(new string[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
                 {

        <li>@item</li>
        
                 }
                </ul>
            </div>
        </div><!-- end row -->

        @foreach (var cs in serviceDetail.CaseStudies)
        {
              <h2>@cs.Title</h2>
            <p>@cs.Description 
            @if (!string.IsNullOrEmpty(cs.PDF))
            {
                <br />
                <a target="_blank" href="@(System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + cs.PDF)">   <img src="@Url.Content("~/Content/images/pdf_icon.gif")" /> Download PDF</a>
            }
            </p>
        }
        
         
         @if (!string.IsNullOrEmpty(serviceDetail.PDFBrochure))
         {
              <a target="_blank" href="@(System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + serviceDetail.PDFBrochure)">   <img src="@Url.Content("~/Content/images/pdf_icon.gif")" /> Download PDF Brochure</a>
         }
    </div>
    
    <div class="four columns pull-four">
    		@foreach (AstonRoseFrondEnd.Models.UploadedImage image in images)
      {
    	<p><img src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(image.ImageName, 449, 247))" alt=""></p>
      }
        <h3>For further information please contact;</h3>
         <div class="panel radius contact cf">
        	 @foreach (AstonRoseFrondEnd.Models.ServiceContact contact in serviceDetail.Contacts)
          {
                <ul class="no-bullet two-up">
                            <li><i class="icon-user"></i> @contact.Name </li>
                            <li><i class="icon-phone"></i> @contact.Phone</li>
                            <li><i class="icon-envelope-alt"></i> <a href="mailto:@contact.EmailID">Email @contact.EmailName</a></li>
                            </ul>
          }
        </div>
    </div>
    
    
    
  </section>
<!-- end row -->
