﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model Team
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];
}
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DisplayOrder)
@Html.HiddenFor(model => model.ShowInContacts)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.FirstName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastName)
    @Html.ValidationMessageFor(model => model.LastName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Designation)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Designation)
    @Html.ValidationMessageFor(model => model.Designation)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TeamType)
</div>
<div class="editor-field">
     @Html.DropDownListFor(model => model.TeamType, Model.TeamTypes)
    
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.Department)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Department)
    @Html.ValidationMessageFor(model => model.Department)
</div>



<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TelephoneNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TelephoneNumber)
    @Html.ValidationMessageFor(model => model.TelephoneNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.MobileNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MobileNumber)
    @Html.ValidationMessageFor(model => model.MobileNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Summary)
</div>
<div class="editor-field">
    @*@Html.EditorFor(model => model.Summary, "RichEditor")*@
    @Html.EditorFor(model => model.Summary, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.Summary)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PropertyContactFlag)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PropertyContactFlag)
    @Html.ValidationMessageFor(model => model.PropertyContactFlag)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.OfficeContactFlag)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.OfficeContactFlag)
    @Html.ValidationMessageFor(model => model.OfficeContactFlag)
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.Image)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="FileUpload" />
    }
    else
    {
        if (Model.Image == null || Model.Image == string.Empty)
        {
        <input type="file" name="FileUpload" />      
        }
        else
        {
        <input type="file" name="FileUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.Image)">@Model.Image</a>
        <a href="@Url.Action("DeleteImage", new { id = Model.Id, filename = Model.Image })">Delete</a>
        <input type="hidden" name="oldFileUpload" value="@Model.Image" />                        
        }
    }
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LinkedInURL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LinkedInURL)
    @Html.ValidationMessageFor(model => model.LinkedInURL)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TwitterURL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TwitterURL)
    @Html.ValidationMessageFor(model => model.TwitterURL)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FaceBookURL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FaceBookURL)
    @Html.ValidationMessageFor(model => model.FaceBookURL)
</div>
 <div class="editor-label">
        @Html.LabelFor(model => model.MetaTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaTitle)
        @Html.ValidationMessageFor(model => model.MetaTitle)
    </div>

      <div class="editor-label">
        @Html.LabelFor(model => model.MetaDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaDescription)
        @Html.ValidationMessageFor(model => model.MetaDescription)
    </div>