﻿@model AstonRoseCMS.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Team</h2>

@Html.ActionLink("Back to List", "Index")<br /><br />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "team-form", enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.Partial("_CreateOrEditTeam", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
