﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model TeamListModel
@{
    ViewBag.Title = "Team List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}
<h2>
    Team List</h2>
<p>
    @Html.ActionLink("Create Team", "Create")
    
</p>
<script type="text/javascript">

    function ToggleShowItem(checkbox, itemId) {

        $.getJSON(
        '@(Url.Action("ToggleShow","Team"))',
        { isChecked: checkbox.checked, itemId: itemId },
        function (d) {
        }
    );
    }

    function ChangeDisplayOrder(dropdown, itemId) {

        $.getJSON(

        '@(Url.Action("ChangeDisplayOrder","Team"))',
        { displayOrder: $(dropdown).val(), itemId: itemId },
        function (d) {
        }
    );
    }
</script>
@(Html.Telerik().Grid<Team>(Model.TeamList.Data)
    .Name("events-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.TeamType).Width(300);
        columns.Bound(x => x.FirstName).Width(300);
        columns.Bound(x => x.LastName).Width(300);
        columns.Bound(x => x.Department).Width(300);
        columns.Bound(x => x.Email).Width(300);
        columns.Bound(x => x.ShowInContacts)
            .Width(50)
            .Template(x => Html.CheckBox("ContactVisible", x.ShowInContacts, new { onclick = "javascript:ToggleShowItem(this," + x.Id + ")" }))
            .ClientTemplate("<input type=\"checkbox\" <#= (ShowInContacts?checked=\"checked\":\"\") #> onclick=\"javascript:ToggleShowItem(this, <#= Id #>)\">")
            .Title("Show in Contacts").Sortable(false);
        //columns.Bound(x => x.ShowInContacts)
        //    .Width(50)
        //    .Template(x => Html.DropDownList("DisplayOrd", new SelectList(Model.DisplayOrder,"Value","Text", Convert.ToString( x.DisplayOrder)), new { onclick = "javascript:ChangeDisplayOrder(this," + x.Id + ")" }))
        //    .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
        //    .Title("Display Order");

        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit").Sortable(false);
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete").Sortable(false);
    })
    .Pageable(settings => settings.Total(Model.TeamList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .Sortable()
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Team"))
    .EnableCustomBinding(true))﻿@using System.Configuration