﻿<div class="row">
        
        	<section class="eight columns">
            	<div class="panel radius quick-search cf">
                	<h1>Clint Login</h1>
                    
                    <p><label>User Name</label>
                    <input name="UserName" id="UserName" type="text" ></p>
                    <p><label>Password</label>

                    <input name="Pasword" id="Pasword" type="password" >

                    
                  
                    <input type="submit" class="button radius secondary small" value="GO" />
                </div>
            </section>
                </div><!-- end row -->