﻿@model AstonRoseFrondEnd.Models.HomeModel
@{
    var member = Model.SelectedMember;
    string imageUrl = "";
    if (string.IsNullOrEmpty(member.Image))
    {
        imageUrl = AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage("ar_team_default.jpg", 75, 89);
    }
    else
    {
        imageUrl = AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(member.Image, 75, 89);
    }
}
<section class="row content">

    <div class="six columns">
    
    <div class="masthead"><h1>About Us</h1></div>
    
    	
        
      
   <p> Aston Rose was established in 1991 by Tim Richards. At the start of the new Millennium, Tim was joined by James Coulling, Ken Morgan and John Williams when they put in place the foundations for what Aston Rose has become today – a multi-disciplinary chartered surveying practice.</p>
   <p>Through shared core values of integrity, passion and performance, as a company it is our mission to:
   <ul  style="list-style-position:inside">
    <li>create/add value to our clients’ property assets</li>
    <li>improve returns for our business, whilst being mindful of our overall 
responsibilities to our clients and colleagues
</li>
    <li>grow and sustain our business; and</li>
    <li>keep on enjoying what we do and with whom we do it!</li>
   </ul>
   
   </p>

    </div>
    
    <div class="two columns">
    	<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors")">Directors</a>
                	<ul>
                    @foreach (var item in Model.Members)
                    {
                    	<li><a href="@Url.Action("directors", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Name), Id = item.Id })">@item.Name</a></li>
                    }
                      
                    </ul>
                </li>
                <li><a href="@Url.Action("ourteam")">Our Team</a></li>
                <li><a href="@Url.Action("ourclients")">Our Clients</a></li>
                <li><a href="@Url.Action("ouroffices")">Our Offices</a></li>
                <li><a href="@Url.Action("casestudies")">Case Studies</a></li>
                <li><a href="@Url.Action("index", "csr")">CSR</a></li>
                
            </ul>
        </nav>
    </div>
    
    
    
  </section>
<!-- end row -->
