﻿@model AstonRoseFrondEnd.Models.HomeModel
<div class="row content">
    <section class="four columns welocme">
    
    <ul class="rslides" id="home-slider">
      <li><img src="@Url.Content("~/Content/images/s1.jpg")" alt=""></li>
      <li><img src="@Url.Content("~/Content/images/s2.jpg")" alt=""></li>
      <li><img src="@Url.Content("~/Content/images/s3.jpg")" alt=""></li>
    </ul>
    
      <h1>Welcome to Aston Rose</h1>
      <p>We are an established independent firm of chartered surveyors specialising in commercial property consultancy across all sectors nationwide (including investment, agency, valuation, management, landlord & tenant and building surveying) and residential block management.</p>
      <p>Our clients include private individuals, small family property companies, pension funds, charities, FTSE 100 companies, friendly societies & businesses.</p>
     <p>If you like dealing with frank, open, honest and lateral thinking people then make us your property partner.</p>
    </section>
    
    <div class="four columns">
    	<div class="row">
       
        @using (Html.BeginForm("QuickSearch", "property"))       
        {        
        	<section class="eight columns">
            	<div class="panel radius quick-search cf">
                	<h1>Quick Property Search</h1>
                    
                    <p><label>Search by Location</label>
                    <input name="Proplocation" id="Proplocation" type="text" placeholder="Eg: town, postcode"></p>
                    <p><label>Property Type</label>

                    @Html.DropDownList("Proptype", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetPropertyTypeDropdowns(), "Value", "Text", ""))

                    <p><label>Distance</label>
                   @Html.DropDownList("Distance", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetDistanceDropdowns(), "Value", "Text", "5"))</p>
                  
                    <input type="submit" class="button radius secondary small" value="GO" />
                </div>
            </section>
            }
        </div><!-- end row -->
        <div class="row">
        	<section class="four columns latest-news">
                	<h1><a href="@Url.Action("newsdetail", "news", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(Model.LatestNews.Title), Id = Model.LatestNews.Id })">@Model.LatestNews.Title</a></h1>
                    @if (!string.IsNullOrEmpty(Model.LatestNews.Image))
              { <p><img src="@(System.Configuration.ConfigurationManager.AppSettings["ImageScaleToolUrl"] + "?w=200&src=" + System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + Model.LatestNews.Image)" alt=""></p>}
              <p> @Html.Raw(Model.LatestNews.FullDescription) <a href="@Url.Action("newsdetail", "news", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(Model.LatestNews.Title), Id = Model.LatestNews.Id })">Read more</a></p>
            </section>
            <section class="four columns twitter-feed">
                	<a class="twitter-timeline"  href="https://twitter.com/AstonRose"  data-widget-id="314666771649019905">Tweets by @@AstonRose</a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
            </section>
        </div><!-- end row -->
        <div class="row">
        	<section class="eight columns costar">
            	<h1>Latest news from CoStar </h1>
                <img src="/Content/images/costar.jpg")" alt="Costar logo">
                <div class="ticker">
                    <div style="position: absolute; margin: 0px;">

                    @foreach (var item in Model.CoActorNews)
                    {
                        <div>
                            <a target="_blank" href="@item.Links[0].Uri">@item.Title.Text</a>
                        </div>
                    }
                    </div>

                    
				</div>
                
            </section>
        </div><!-- end row -->
    </div>
  </div><!-- end row -->

  <script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>
    
    <script>
    jQuery.noConflict();
     jQuery(document).ready(function($) {
      	$("#home-slider").responsiveSlides();
		$('.ticker').easyTicker({
			direction: 'up',
			visible: 1,
		});
	});
    </script>
    