﻿@model AstonRoseFrondEnd.Models.HomeModel
@{
    var member = Model.Testimonials;
}
<section class="row content">

    <div class="six columns">
    
    <div class="masthead"><h1>Case Studies</h1></div>
    
    	<div class="row">
        
        	<!-- Start First Column -->
          <div class="four columns">
                @{int i = 0; int length = member.Count;}    
                          @foreach (var t in member)
                          {
                              i++;
        <h3 id="@t.Name.Replace(" ", "+")">@t.Name</h3>
      <p>@Html.Raw(t.ToString())
      

      @if (!string.IsNullOrEmpty(@t.PDF))
         {
              <a target="_blank" href="@(System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + @t.PDF)">   <img src="@Url.Content("~/Content/images/pdf_icon.gif")" /> Download PDF</a>
         }

      
      
      </p>
                              if (i < length - 1)
                              {
                              }
                          }

           
            </div><!-- end First Column -->

          <!-- Start Second Column --> 
          <div class="four columns">
            <h3>Jays Test</h3>
            <p>We were approached by the FD of a division of this Global Brand to provide a second opinion as he was about to issue a cheque for £670,000 in settlement of a dilapidations claim.</p>
            <hr>

           
            </div><!-- end Second Column -->

        </div>
        
        
    </div>
    
    <div class="two columns">
    	<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors")">Directors</a></li>
                <li><a href="@Url.Action("ourteam")">Our Team</a></li>
                <li><a href="@Url.Action("ourclients")">Our Clients</a>
                
                </li>
                <li><a href="@Url.Action("ouroffices")">Our Offices</a></li>
                
                <li><a href="@Url.Action("testimonials")">Case Studies</a>
                
                <ul>
                    @foreach (var item in Model.Members)
                    {
                    	<li><a href="#@(item.Name.Replace(" ", "+"))">@item.Name</a></li>
                    }
                      
                    </ul>
                </li>
                <li><a href="@Url.Action("index", "csr")">CSR</a></li>
            </ul>
        </nav>
    </div>
    
    
    
  </section>
<!-- end row -->
