﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model Property
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];    
}
<script type="text/javascript">

    function CategoryChanged(ddlCategory) {

        if ($(ddlCategory).val() == "Investment") {
            $("#tenure").css("display", "none");
            
            $("#flags").css("display", "none");
        }
        else {
            $("#tenure").css("display", "");
            
            $("#flags").css("display", "");
        }

    }

    $(document).ready(function () {  // Handler for .ready() called.
        CategoryChanged($("#Category"))

    });
    
</script>
@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.Category)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Category, Model.AvailableCategories, new {onchange="CategoryChanged(this)" })
    @Html.ValidationMessageFor(model => model.Category)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Type)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Type, Model.AvailableType)
    @Html.ValidationMessageFor(model => model.Type)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Size)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Size, Model.AvailableSize)
    @Html.ValidationMessageFor(model => model.Size)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SquareFeet)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SquareFeet)
    @Html.ValidationMessageFor(model => model.SquareFeet)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SquareMeters)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SquareMeters)
    @Html.ValidationMessageFor(model => model.SquareMeters)
</div>

<div id="tenure">
    <div class="editor-label">
        @Html.LabelFor(model => model.Tenure)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Tenure, Model.AvailableTenure)
        @Html.ValidationMessageFor(model => model.Tenure)
    </div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Status)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Status, Model.AvailableStatus)
    @Html.ValidationMessageFor(model => model.Status)
</div>
<div id="region">
    <div class="editor-label">
        @Html.LabelFor(model => model.Region)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Region, Model.AvailableRegion)
        @Html.ValidationMessageFor(model => model.Region)
    </div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    <div id="flags">
        @Html.RadioButtonFor(model => model.PriceFlag, "Price", new {@checked="checked" })Price
        @Html.RadioButtonFor(model => model.PriceFlag, "Rent")Rent
        @Html.ValidationMessageFor(model => model.PriceFlag)
    </div>
    @Html.ValidationMessageFor(model => model.Price)
</div>



@*<div class="editor-label">
    @Html.LabelFor(model => model.PriceFlag)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PriceFlag)
    @Html.ValidationMessageFor(model => model.PriceFlag)
</div>*@
<div class="editor-label">
    @Html.LabelFor(model => model.BuildingName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.BuildingName)
    @Html.ValidationMessageFor(model => model.BuildingName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Address1)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address1)
    @Html.ValidationMessageFor(model => model.Address1)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Address2)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address2)
    @Html.ValidationMessageFor(model => model.Address2)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Address3)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address3)
    @Html.ValidationMessageFor(model => model.Address3)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Town)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Town)
    @Html.ValidationMessageFor(model => model.Town)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.County)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.County)
    @Html.ValidationMessageFor(model => model.County)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Postcode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Postcode)
    @Html.ValidationMessageFor(model => model.Postcode)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.Description)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Image)
</div>

<div class="editor-field">
<table>
@foreach (UploadedImage image in Model.UploadedImages)
{
    <tr>
        <td><a href="@Url.Content(ViewBag.FileUploadURL + @image.ImageName)">@image.ImageName</a></td>
        <td><a href="@Url.Action("DeleteImage", new { imageId = image.Id, propertyId = Model.Id, filename = image.ImageName })">
            Delete</a></td>
    </tr>
}
</table>

 @(Html.Telerik().Upload()
            .Name("attachments")
    )</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Video)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Video)
    @Html.ValidationMessageFor(model => model.Video)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PDF)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="PDFUpload" />
    }
    else
    {
        if (Model.PDF == null || Model.PDF == string.Empty)
        {
        <input type="file" name="PDFUpload" />      
        }
        else
        {
        <input type="file" name="PDFUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.PDF)">@Model.PDF</a>
        <a href="@Url.Action("DeletePDF", new { id = Model.Id, filename = Model.PDF })">Delete</a>
        <input type="hidden" name="oldPDFUpload" value="@Model.PDF" />                        
        }
    }
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.EPC)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="EPCUpload" />
    }
    else
    {
        if (Model.EPC == null || Model.EPC == string.Empty)
        {
        <input type="file" name="EPCUpload" />      
        }
        else
        {
        <input type="file" name="EPCUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.EPC)">@Model.EPC</a>
        <a href="@Url.Action("DeleteEPC", new { id = Model.Id, filename = Model.EPC })">Delete</a>
        <input type="hidden" name="oldEPCUpload" value="@Model.EPC" />                        
        }
    }
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ContactIDs)
</div>
<div class="editor-field">
    @if (Model.PropertyContactList.Count > 0)
    {
        foreach (var contact in Model.PropertyContactList)
        {
        <input type="checkbox" name="selectedContact" value="@contact.Id" @(Model.PropertyContactSelectedIdList.Contains(contact.Id.ToString()) ? "Checked" : null)/>
        <label>@contact.FirstName @contact.LastName</label><br />
        }
    }
    @Html.ValidationMessageFor(model => model.ContactIDs)
</div>
@Html.HiddenFor(model => model.ContactIDs)
@Html.HiddenFor(model => model.DateCreated)
 <div class="editor-label">
        @Html.LabelFor(model => model.MetaTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaTitle)
        @Html.ValidationMessageFor(model => model.MetaTitle)
    </div>

      <div class="editor-label">
        @Html.LabelFor(model => model.MetaDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaDescription)
        @Html.ValidationMessageFor(model => model.MetaDescription)
    </div>