﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@using AstonRoseCMS.Helpers
@model PropertyListModel
@{
    ViewBag.Title = "Property List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}
<h2>
    Property List</h2>
<p>
    @Html.ActionLink("Create Property", "Create")
</p>
 @using (Html.BeginForm("List", "Property", FormMethod.Get, new { id = "filterform" }))
    {
<p>
   
        <text> Property Type @Html.DropDownList("Proptype", new SelectList(AstonRoseCMSHelper.GetPropertyTypeDropdowns(true), "Value", "Text", ""))
        &nbsp;&nbsp; Property Category @Html.DropDownList("Category", new SelectList(AstonRoseCMSHelper.GetPropertyCategoryDropdowns(true), "Value", "Text", ""))
        &nbsp;&nbsp; Town
        @Html.DropDownList("Town", new SelectList(AstonRoseCMSHelper.GetTowns(true), "Value", "Text", ""))

        <input type="submit" value="Search" class="button radius" />
        </text>
    
</p>
@(Html.Telerik().Grid<Property>(Model.PropertyList.Data)
    .Name("property-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Category);
        columns.Bound(x => x.BuildingName);
        columns.Bound(x => x.Address1);
        columns.Bound(x => x.Town);
        columns.Bound(x => x.County);
        columns.Bound(x => x.Type);
        columns.Bound(x => x.Status);
        columns.Bound(x => x.Price);
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit").Sortable(false);

        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete").Sortable(false);
    })
    .Pageable(settings => settings.Total(Model.PropertyList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .Sortable()
          
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Property"))
    .EnableCustomBinding(true))
     
     
    }