﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model Service
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];
}
@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ContactIds)
</div>
<div class="editor-field">
    @if (Model.AvailableContacts1.Count > 0)
    {
        foreach (var contact in Model.AvailableContacts1)
        {
        <input type="checkbox" name="selectedContact" value="@contact.Value" @(Model.ContactSelectedIdList.Contains(contact.Value.ToString()) ? "Checked" : null)/>
        <label>@contact.Text </label><br />
        }
    }
    @Html.ValidationMessageFor(model => model.ContactIds)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Image)
</div>
<div class="editor-field">
<table>
@foreach (UploadedImage image in Model.UploadedImages)
{
    <tr>
        <td><a href="@Url.Content(ViewBag.FileUploadURL + @image.ImageName)">@image.ImageName</a></td>
        <td><a href="@Url.Action("DeleteImage", new { imageId = image.Id, serviceId = Model.Id, filename = image.ImageName })">
            Delete</a></td>
    </tr>
}
</table>

 @(Html.Telerik().Upload()
            .Name("attachments")
    )</div>
    <div class="editor-label">
    @Html.LabelFor(model => model.PDFBrochure)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="PDFUpload" />
    }
    else
    {
        if (Model.PDFBrochure == null || Model.PDFBrochure == string.Empty)
        {
        <input type="file" name="PDFUpload" />      
        }
        else
        {
        <input type="file" name="PDFUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.PDFBrochure)">@Model.PDFBrochure</a>
        <a href="@Url.Action("DeletePDF", new { id = Model.Id, filename = Model.PDFBrochure })">Delete</a>
        <input type="hidden" name="oldPDFUpload" value="@Model.PDFBrochure" />                        
        }
    }
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ServicesOfferedTitle1)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ServicesOfferedTitle1)
    @Html.ValidationMessageFor(model => model.ServicesOfferedTitle1)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ServicesOffered1)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.ServicesOffered1, new { cols = "50", rows = "10" })
    @Html.ValidationMessageFor(model => model.ServicesOffered1)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ServicesOfferedTitle2)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ServicesOfferedTitle2)
    @Html.ValidationMessageFor(model => model.ServicesOfferedTitle2)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ServicesOffered2)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.ServicesOffered2, new { cols = "50", rows = "10" })
    @Html.ValidationMessageFor(model => model.ServicesOffered2)
</div>

 <div class="editor-label">
        @Html.LabelFor(model => model.MetaTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaTitle)
        @Html.ValidationMessageFor(model => model.MetaTitle)
    </div>

      <div class="editor-label">
        @Html.LabelFor(model => model.MetaDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaDescription)
        @Html.ValidationMessageFor(model => model.MetaDescription)
    </div>