﻿@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/jquery-jvert-tabs-1.1.4.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.multiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.multiselect.filter.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.multiselect.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.multiselect.filter.min.js")" type="text/javascript"></script>
    @(Html.Telerik().StyleSheetRegistrar()
            .DefaultGroup(group => group
            .Add("telerik.common.min.css")
            .Add("telerik.vista.min.css")
            .Add("telerik.rtl.min.css")
            ))
    @(Html.Telerik().ScriptRegistrar()
            .jQuery(false)
            .jQueryValidation(false)
            )
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Aston Rose - CMS</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                @if (User.Identity.IsAuthenticated)
                {
                <ul id="menu">
                @if (User.IsInRole(AstonRoseCMS.Helpers.AppConstants.SuperUser))
                {
                    <li>@Html.ActionLink("News", "Index", "News")</li>
                    <li>@Html.ActionLink("Case Studies", "Index", "CaseStudies")</li>
                    <li>@Html.ActionLink("Team", "Index", "Team")</li>
                    <li>@Html.ActionLink("Client", "Index", "Client")</li>
                }
                    <li>@Html.ActionLink("Property", "Index", "Property")</li>  
                       @if (User.IsInRole(AstonRoseCMS.Helpers.AppConstants.SuperUser))
                       {                
                    <li>@Html.ActionLink("Offices", "Index", "Offices")</li>
                     <li>@Html.ActionLink("Services", "Index", "Services")</li>
                     <li>@Html.ActionLink("Client Types", "Index", "ClientTypes")</li>
                     <li>@Html.ActionLink("Service Case Studies", "Index", "ServiceCaseStudies")</li>
                           <li>@Html.ActionLink("CSR", "Index", "CSR")</li>
                       }
                </ul>
                }
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
