﻿@model AstonRoseFrondEnd.Models.HomeModel
@{
    var member = Model.Clients;
}
<section class="row content">

<div class="six columns">
    
    <div class="masthead"><h1>Our Clients</h1></div>

    <p>At Aston Rose we enjoy serving a hugely diverse range of clients, from pension funds and FTSE 100 companies right through to private investment companies, independent businesses and individuals. We take pride in providing professional property advice right across the board, whether the instructions are large or small, each client receives the same quality service.</p>

    @{int i = 0; int length = member.Count;}    
                          @foreach (var c in member)
                          {
                              i++;
    	<div class="row v-card">
        @if (!string.IsNullOrEmpty(c.Logo))
        {
            <div class="one columns">
            	<p><img src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(c.Logo, 75, 89))" alt="@(c.Name)"></p>
            </div>
        }
            <div class="seven columns">
            <h2>@(c.Name)</h2>
           
            <p>
             @if (!string.IsNullOrEmpty(c.ShortDescription))
             {
            
                @c.ShortDescription <br />
             }
             @if (!string.IsNullOrEmpty(c.Website))
             {
                <a target="_blank" href="@c.Website">@c.Website</a>
             }

                 
                 </p>
            
            
           
            </div>
        </div><!-- end row -->
             if (i < length)
             {
<hr/>
             }

                          }
        
    </div>

    
    
    <div class="two columns">
    	<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors")">Directors</a></li>
                <li><a href="@Url.Action("ourteam")">Our Team</a></li>
                <li><a href="@Url.Action("ourclients")">Our Clients</a>
                <ul>
                    @foreach (var item in Model.Members)
                    {
                    	<li><a href="#@(item.Name.Replace(" ", "+"))">@item.Name</a></li>
                    }
                      
                    </ul>
                </li>
                <li><a href="@Url.Action("ouroffices")">Our Offices</a></li>
                <li><a href="@Url.Action("casestudies")">Case Studies</a></li>
                <li><a href="@Url.Action("index", "csr")">CSR</a></li>
                
            </ul>
        </nav>
    </div>
    
    
    
  </section>
<!-- end row -->
