﻿@model AstonRoseFrondEnd.Models.HomeModel
@{
    var member = Model.SelectedOffice;
}
<section class="row content">

    <div class="six columns">
    
    <div class="masthead"><h1>Our Offices</h1></div>
    
    	<div class="row v-card">
            <div class="one columns">
            	<p><img src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(member.BannerImage, 75, 89))" alt="@(member.OfficeName)"></p>
            </div>
            <div class="seven columns">
            <h2>@(member.OfficeName)</h2>
            

            <div class="three columns"><p>   @Html.Raw(member.ToString())
           
       

</p></div>
        <div class="three columns" style="float:left">
                <p>
                        @if (!string.IsNullOrEmpty(member.Telephone))
                        {
                               <i class="icon-phone"></i> <text>@member.Telephone<br/> </text>
                        }
                        @if (!string.IsNullOrEmpty(member.Fax))
                        {
                         <i class="icon-phone"></i> <text>@member.Fax<br/> </text>
                        }
                        
                        <i class="icon-envelope-alt"></i> <a href="mailto:@member.Email">@member.Email</a><br />
                        <a href="@member.GoogleMapURL" target="_blank">View Map</a>
         
                 </p>
         
        </div>




         </div>




        
        </div><!-- end row -->
        
        <hr>
      <p>  @Html.Raw(member.Description)</p>
       
    </div>
    
    <div class="two columns">
    	<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors")">Directors</a></li>
                <li><a href="@Url.Action("ourteam")">Our Team</a></li>
                <li><a href="@Url.Action("ourclients")">Our Clients</a></li>
                <li><a href="@Url.Action("ouroffices")">Our Offices</a>
                
                <ul>
                    @foreach (var item in Model.Members)
                    {
                    	<li><a href="@Url.Action("ouroffices", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Name), Id = item.Id })">@item.Name</a></li>
                    }
                      
                    </ul>
                </li>
                <li><a href="@Url.Action("casestudies")">Case Studies</a></li>
                <li><a href="@Url.Action("index", "csr")">CSR</a></li>
                
            </ul>
        </nav>
    </div>
    
    
    
  </section>
<!-- end row -->
