﻿@model AstonRoseFrondEnd.Models.HomeModel
@{
   
    int i = 0;
}
<link rel="stylesheet" href="@Url.Content("~/Content/stylesheets/social_foundicons.css")" />
 <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/social_foundicons_ie7.css">
  <![endif]-->
<section class="row content">
<div class="six columns" >
<div class="masthead"><h1>Our Team</h1></div>
@foreach(var member in Model.TeamMembers)
{
    i++;
    string imageUrl = "";
    if (string.IsNullOrEmpty(member.Image))
    {
        imageUrl = AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage("ar_team_default.jpg", 75, 89);
    }
    else
    {
        imageUrl = AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(member.Image, 75, 89);
    }
    
   
    <div id="@member.Id" style="@(i == 1 ? "display:" : "display:none")"  >
    
    
    
    
    	<div class="row v-card">
            <div class="one columns">
            	<p><img src="@Url.Content(imageUrl)" alt="@(member.FirstName + " " + member.LastName)"></p>
            </div>
            <div class="seven columns">
            <h2>@(member.FirstName + " " + member.LastName)</h2>
            <h3>@member.Designation</h3>
            <p><a href="mailto:@member.Email">@member.Email</a><br />
            
            @if (!string.IsNullOrEmpty(member.TelephoneNumber))
            {
           <text>  T: @member.TelephoneNumber <br /> </text>
            }
            
            @if (!string.IsNullOrEmpty(member.MobileNumber))
            { 
            <text>M: @(member.MobileNumber) <br /></text>
            }
            @if (!string.IsNullOrEmpty(member.TwitterURL))
            { 
            <text><a target="_blank" href="@member.TwitterURL"><i class="social foundicon-twitter"></i> Follow me on Twitter</a><br /> </text>
            }
            @if (!string.IsNullOrEmpty(member.LinkedInURL))
            { 
            <text><a target="_blank" href="@member.LinkedInURL"><i class="social foundicon-linkedin"></i> Follow me on Linkedin</a><br /> </text>
            }
            @if (!string.IsNullOrEmpty(member.FaceBookURL))
            { 
            <text><a target="_blank" href="@member.FaceBookURL"><i class="social foundicon-facebook"></i> Follow me on Facebook</a><br /> </text>
            }
            
            
            

            </p>
            </div>
        </div><!-- end row -->
        
        <hr>
     <p>   @Html.Raw(member.Summary)</p>
     </div>
     }
    </div>
    
    <div class="two columns">
    	<nav class="sub-nav">
        	<ul>
            	<li><a href="@Url.Action("directors")">Directors</a></li>
                <li><a href="@Url.Action("ourteam")">Our Team</a>
                <ul>
                    @foreach (var item in Model.TeamMembers)
                    {
                    	<li><a onselect="show(@(item.Id)"  onmouseover="show(@(item.Id))" href="#">@item.FirstName @item.LastName</a></li>
                    }
                      
                    </ul>
                </li>
                <li><a href="@Url.Action("ourclients")">Our Clients</a></li>
                <li><a href="@Url.Action("ouroffices")">Our Offices</a></li>
                <li><a href="@Url.Action("casestudies")">Case Studies</a></li>
                <li><a href="@Url.Action("index", "csr")">CSR</a></li>
                
            </ul>
        </nav>
    </div>
    
    <script type="text/javascript">
        var prev = @(Model.TeamMembers[0].Id);
        function show(id) {
            $("#" + prev).css("display", "none");
            $("#" + id).css("display", "");
            prev=id;
        }
        
    </script>
    
  </section>
<!-- end row -->
