﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model Testimonials
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];    
}
@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.JobTitle)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.JobTitle)
    @Html.ValidationMessageFor(model => model.JobTitle)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CompanyName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CompanyName)
    @Html.ValidationMessageFor(model => model.CompanyName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Quote)
</div>
<div class="editor-field">
    @*@Html.EditorFor(model => model.Quote, "RichEditor")*@
    @Html.EditorFor(model => model.Quote, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.Quote)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PDF)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="PDF" />
    }
    else
    {
        if (Model.PDF == null || Model.PDF == string.Empty)
        {
        <input type="file" name="PDF" />      
        }
        else
        {
        <input type="file" name="PDF" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.PDF)">@Model.PDF</a>
        <a href="@Url.Action("DeletePDF", new { id = Model.Id, filename = Model.PDF })">Delete</a>
        <input type="hidden" name="oldPDF" value="@Model.PDF" />                        
        }
    }
</div>
