﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model TestimonialsListModel
@{
    ViewBag.Title = "Testimonials List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>Testimonials List</h2>

<p>
    @Html.ActionLink("Create Testimonials", "Create")
</p>

@(Html.Telerik().Grid<Testimonials>(Model.TestimonialsList.Data)
    .Name("events-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Name).Width(300);
        columns.Bound(x => x.JobTitle).Width(600);
        columns.Bound(x => x.CompanyName).Width(600);        
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
    })
    .Pageable(settings => settings.Total(Model.TestimonialsList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Testimonials"))
    .EnableCustomBinding(true))