﻿<script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>

@model AstonRoseFrondEnd.Models.ServiceListModel
@{
    var serviceDetail = (Model.SelectedService == null ? new AstonRoseFrondEnd.Models.ServiceViewModel() : Model.SelectedService);
    var images = (serviceDetail.Images == null ? new List<AstonRoseFrondEnd.Models.UploadedImage>() : serviceDetail.Images);
    int midpoint = Model.ViewList.Count / 2;
    if (Model.ViewList.Count % 2 == 1)
    {
        midpoint = midpoint + 1;
    }
    
}
<section class="row content">

  <div class="eight columns">
  
  <div class="dropdown">
	<a class="account"><i class="icon-cog"></i>Select Service</a>
	<div class="submenu" style="display: none;">
	  <ul class="root">

      @foreach (var item in Model.ViewList)
      {

        <li><a href="@Url.Action("select", new { title =  AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
        
      }
        </ul>
	</div>
	</div>
  </div>

    
    <div class="four columns push-four">
    	<div class="masthead"><h1>Services Overview</h1></div>
        <p>Are you a property developer, owner or investor? Do you need advice on looking for new commercial premises? Are you a tenant or an owner-occupier? Do you want to refurbish your property? We could go on, but...</p>
        <p>Basically, whatever your property needs are, we can help you. We have a proven track record with a diverse range of clients: from FTSE 100 companies, pension funds and high networth individuals, right through to those looking for their first business premises. </p>
        <p>Please get in touch to see how we could help you.</p>
        
        <div class="row">
        	<div class="four columns">
                <ul class="no-bullet">
                @for (int i = 0; i < midpoint; i++)
                {
                    var item = Model.ViewList[i];
                    <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
                } 
                </ul>
            </div>
            <div class="four columns">
                <ul class="no-bullet">
                 @for (int i = midpoint; i < Model.ViewList.Count; i++)
                {
                    var item = Model.ViewList[i];
                    <li><a href="@Url.Action("select", new { title = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(item.Title), Id = item.Id })">@item.Title</a></li>
                } 
                 
                </ul>
            </div>
        </div><!-- end row -->
        

    </div>
    
    <div class="four columns pull-four">
    		@if (images != null && images.Count > 0)
      {
    	<p><img src="@Url.Content(AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(images[0].ImageName, 449, 247))" alt=""></p>
      }
     
    </div>
    
    
    
  </section>
<!-- end row -->
