﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model CaseStudy

@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new { cols = "50", rows = "10" })
    @Html.ValidationMessageFor(model => model.Description)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ServiceID)
</div>
<div class="editor-field">
 <table>
        <tr>
            <th>
                Services
            </th>
            <th>
                Live
            </th>
        </tr>
 @if (Model.AvailableServices.Count > 0)
 {
     foreach (var ser in Model.AvailableServices)
     {
            <tr>
                <td>
                    <input type="checkbox"   name="ServiceIDs" id="@("s" + ser.Value.Trim())" value="@ser.Value.Trim()" @(ser.Selected ? "Checked" : "") />
                    <label for="@("s" + ser.Value.Trim())">@ser.Text.Trim()</label>
                </td>
                <td>


                <input type="checkbox"   name="@("slive" + @ser.Value.Trim())" id="@("slive" + @ser.Value.Trim())" value="@ser.Live" @(ser.Live != null && ser.Live.Value ? "Checked" : "")/>
                   

                   
                </td>
            </tr>
     }
 }
  </table>
    
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ClientTypeID)
</div>
<div class="editor-field">
    <table>
        <tr>
            <th>
                Client Types
            </th>
            <th>
                Live
            </th>
        </tr>
 @if (Model.AvailableServices.Count > 0)
 {
     foreach (var ser in Model.AvailableClientTypes)
     {
            <tr>
                <td>
                    <input type="checkbox"   name="ClientTypeIDs" id="@("c" + ser.Value.Trim())" value="@ser.Value.Trim()" @(ser.Selected ? "Checked" : "") />
                    <label for="@("c" + ser.Value.Trim())">@ser.Text.Trim()</label>
                </td>
                <td>


                <input type="checkbox"   name="@("clive" + @ser.Value.Trim())" id="@("clive" + @ser.Value.Trim())" value="@ser.Live" @(ser.Live != null && ser.Live.Value ? "Checked" : "")/>
                   

                   
                </td>
            </tr>
     }
 }
  </table>
</div>
 <div class="editor-label">
    @Html.LabelFor(model => model.PDF)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="PDFUpload" />
    }
    else
    {
        if (Model.PDF == null || Model.PDF == string.Empty)
        {
        <input type="file" name="PDFUpload" />      
        }
        else
        {
        <input type="file" name="PDFUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.PDF)">@Model.PDF</a>
        <a href="@Url.Action("DeletePDF", new { id = Model.Id, filename = Model.PDF })">Delete</a>
        <input type="hidden" name="oldPDFUpload" value="@Model.PDF" />                        
        }
    }
</div>