﻿@model AstonRoseCMS.Models.CaseStudy

@{
    ViewBag.Title = "Create";
}

<h2>Create Case Study</h2>

@Html.ActionLink("Back to List", "Index")<br /><br />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "casestudy-form", enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.Partial("_CreateOrEditCaseStudy", Model)        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
