﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model CaseStudyListModel
@{
    ViewBag.Title = "Case Study List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>Case Studies</h2>

<p>
    @Html.ActionLink("Create Case Study", "Create")
</p>

@(Html.Telerik().Grid<CaseStudy>(Model.CaseStudyList.Data)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id).Width(25) ;
        columns.Bound(x => x.Title).Width(700);
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
    })
    .Pageable(settings => settings.Total(Model.CaseStudyList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "ServiceCaseStudies"))
    .EnableCustomBinding(true))﻿@using Telerik.Web.Mvc;