﻿@using AstonRoseFrondEnd.Models;
@using AstonRoseFrondEnd.Helpers;
@model AstonRoseFrondEnd.Models.PropertyView
@{
    var _breadTitle = Model.Search.FreeSearch;
    ViewBag.Title = "Property Results : " + _breadTitle;

    var currenturl = UrlHelperExtensions.UrlOriginal(Request);
    
}
<section class="row content">
  
  	<div class="eight columns masthead">
  		<h1>Search Results</h1>
    </div>
    
    <div class="eight columns page-controls">
       <ul class="pagination">
                    @{
                        Html.RenderPartial("_solrpagination", new SolrPaginationInfo
            {
                PageUrl = Url.SetParameter("page", "!0"),
                CurrentPage = Model.Search.PageIndex,
                PageSize = Model.Search.PageSize,
                TotalItemCount = Model.TotalCount,
            });
                    }
                </ul>
        <a href="#" class="button radius small secondary map-but hide-for-small"><i class="icon-map-marker"></i>Location map</a>
        <a href="#" class="button radius small secondary refine-but"><i class="icon-search"></i><span class="text">Refine search</span></a>
        
    </div>
    
     <div class="map-panel hide" id="google_map">
        <div class="GMapEZ GLargeMapControl GScaleControl" style="height:554px; width:554px">
           @* @Html.Raw(Model.Map.MapPoints)*@
        </div>

     </div>
    
    
    <div class="refine-panel cf hide">
    
    @{
         //Html.RenderPartial("_Filters", Model.Filter);
        } 
    
    </div>
     @if (Model.TotalCount > 0)
     { 
                   <ul class="block-grid two-up prop-thumbs">
                        @foreach (var p in Model.SolrProperties)
                        {
                            Property _prop = SCHelpers.GetPropById(SCHelpers.EmptyIfInt(p.Id));
                            if (_prop != null)
                            {
                                Html.RenderPartial("_PropForListing", _prop);
                            }
                        }
                        </ul>
     }
     else
     { 
                        <p>There are no jobs available that match your search.  <br /><br />Please expand your search or call advance TRS on 01483 361 061 to discuss the type of position you are looking for.</p>
                        <p><a href="javascript:history.go(-1);" class="button red fr">Go Back</a></p>
     }
                
                <ul class="pagination bottom">
                     @{
                         Html.RenderPartial("_solrpagination", new SolrPaginationInfo
             {
                 PageUrl = Url.SetParameter("page", "!0"),
                 CurrentPage = Model.Search.PageIndex,
                 PageSize = Model.Search.PageSize,
                 TotalItemCount = Model.TotalCount,
             });
                    }
                </ul>
 	<ul class="block-grid two-up prop-thumbs">
    
      
      
	</ul>
  

  <div class="eight columns page-controls">
    	@{
    //Html.RenderPartial("_Pagination", Model.Filter);
         }
    </div>
  
 

  </section>
<!-- end row -->
