﻿@using Jmelosegui.Mvc.Controls
@using Jmelosegui.Mvc.Controls.Overlays.Markers
@using System.Globalization
@using Telerik.Web.Mvc.UI

<script type="text/javascript">
    function getPostSuccess() {

        if ($("#form1").text() == "") {
            alert('Your enquiry was submitted successfully, We will get back to you shortly.');
        }
        else {
            alert($("#form1").text());
        }


    }
    function showFaliure() {

        alert('There is an error, Please contact Aston Rose Administrator');
        alert($("form1").text());
    }
    function AddToMyProperty(ctl, itemId) {
        
        $.getJSON(
        '@(Url.Action("AddToMyProperty", "Property"))',
        { propertyId: itemId },
        function (d) {

            $("#PropCount").text(d);
            $("#" + itemId).css("display", "none");
            $("#" + itemId).next().css("display", "");
        }
    );
    }
</script>
@model AstonRoseFrondEnd.Models.PropertyListModel
@{
    var detail = Model.SelectedProperty;
    var contacts = Model.Contacts;
    var images = Model.UploadedImages;
    var enquiry = Model.Enquiry;
}
<section class="row content">
 
<div class="eight columns page-controls">
    	<ul class="pagination">
          <li class="arrow"><a href="javascript:window.history.go(-1);">&laquo; Back</a></li>
		</ul>

        @if (!string.IsNullOrEmpty(detail.PDF))
         {
            <a href="@(System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + detail.PDF)" target="_blank" class="button radius small secondary"><i class="icon-download-alt"></i><span class="text">Download PDF</span></a>
         }
         
         @if (!string.IsNullOrEmpty(detail.EPC))
         {
            <a href="@(System.Configuration.ConfigurationManager.AppSettings["FileUploadURL"] + detail.EPC)" target="_blank" class="button radius small secondary"><i class="icon-download-alt"></i><span class="text">Download EPC</span></a>
         }
        
        @if (detail.Added)
        {
<a href="#" class="button radius small disabled">Added</a>
        }
        else
        {
<a style="display:" id="@detail.Id"  href="javascript:AddToMyProperty(this, @detail.Id)" class="button radius small">Add to my property list</a>    
<a href="#" style="display:none" class="button radius small disabled">Added</a>
        }
        
    </div>
    
    <div class="four columns">
  
    	<h1>@detail.ToString()</h1>
        <p><span class="under-offer">@detail.Status</span></p>
        
        <div class="panel radius contact">
        @foreach (var contact in contacts)
        {
            if (contact != null)
            {
        	<ul class="no-bullet">
                        	<li>Contact:</li>
                            <li><i class="icon-user"></i> @(contact.FirstName + " " + contact.LastName)</li>
                            <li><i class="icon-phone"></i> @contact.TelephoneNumber</li>
                            <li><i class="icon-envelope-alt"></i> <a href="mailto:@contact.Email?subject=@detail.ToString()">Email @contact.FirstName</a></li>
                        </ul>
            }
        }
        </div>
        
        
        <p> @Html.Raw(detail.Description)</p>

        <ul class="block-grid two-up particulars">
        	<li><h2>Type</h2>
            <p>@detail.Type</p></li>
            <li><h2>Rent</h2>
            <p>@detail.Price</p></li>
            @if (!string.IsNullOrEmpty(@detail.Tenure))
            {
            <li><h2>Tenure</h2>
            <p>@detail.Tenure</p></li>
            }
            @if (!string.IsNullOrEmpty(@detail.Incentive))
            {
            <li><h2>Incentive</h2>
            <p>@detail.Incentive</p></li>
            }
            @if (!string.IsNullOrEmpty(@detail.SquareFeet))
            {
            <li><h2>Floor Area (sq ft)</h2>
            <p>@detail.SquareFeet</p></li>
            }
            
            @if (!string.IsNullOrEmpty(@detail.SquareMeters))
            {
            <li><h2>Floor Area (sq m)</h2>
            <p>@detail.SquareMeters</p></li>
            }
        </ul>
        
    </div>
    
     <div class="four columns">
     
      <div class="tabs cf">
      	<a href="#" class="button radius small map-but"><i class="icon-map-marker"></i></a>
      	<a href="#" class="button radius small pic-but"><i class="icon-camera"></i></a>
      </div>
     
     <div class="map-panel-dets" style="display:block;visibility:hidden" >
     

        @(Html.Telerik().GoogleMap()
                .Name("map")
                .Culture(CultureInfo.CurrentCulture)
                .Width(446)
                .Height(300)
                .Latitude(detail.Latitude ?? 0)
                .Longitude(detail.Longitude ?? 0)
                .Zoom(17)
                .Markers(m => m.Add().Title(detail.ToString())
                .Latitude(detail.Latitude ?? 0)
                .Longitude(detail.Longitude ?? 0)
                .Window(window => window.Add()
                                                                    .Content(
            @<text><div>
           
            <h2 id="firstHeading" class="firstHeading" style="width:300px">
                @detail.ToString()</h2>
            
        </div>                                                                        
        </text>)
                                                                            .MaxWidth(200)
                                                                            .zIndex(3)
                                                                            .DisableAutoPan(false)
                                                            )




                        )
                        )

     </div><!-- end map-panel-dets -->
    	
      <div class="pic-panel" >
       
        <div class="lrg-image">
        @foreach (var ui in images)
        {
        	<div id="img@(ui.Id)"><img src="@AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(ui.ImageName, 446, 300)" alt=""></div>
        }
            

        </div>
        <ul class="tbn-image cf">
        	 @foreach (var ui in images)
          {
              <li><a href="#img@(ui.Id)"><img src="@AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(ui.ImageName, 112, 74)" alt=""></a></li>
          }
           
        </ul>
        </div><!-- end pic-panel -->
        
        <div class="row quick-enquiry">
        
       @using (Ajax.BeginForm("SendDetailEnquiry", "Property", new AjaxOptions
       {
           //   OnBegin="validateForm",

           UpdateTargetId = "form1",
           InsertionMode = InsertionMode.InsertAfter,
           OnSuccess = "getPostSuccess",
           OnFailure = "showFaliure"
       }))
       {
            <div style="display:none" id="form1"></div>
     <div class="eight columns">
        <h2>Quick Enquiry</h2>
        </div>
        
        	<div class="four columns">
            <label for="">Name</label>
            @Html.Hidden("Enquiry.Id", Model.SelectedProperty.Id)
            @Html.EditorFor(model => model.Enquiry.Name)
            @Html.ValidationMessageFor(model => model.Enquiry.Name)
            <label for="">Email</label>
            @Html.EditorFor(model => model.Enquiry.Email)
            @Html.ValidationMessageFor(model => model.Enquiry.Email)
             <label for="">Tel</label>
            @Html.EditorFor(model => model.Enquiry.Tel)
            @Html.ValidationMessageFor(model => model.Enquiry.Tel)
            </div>
            
            <div class="four columns">
             <label for="">Message</label>
            @Html.TextAreaFor(model => model.Enquiry.Message, new { style="height:150px"})
            </div>
            
            <div class="eight columns">
            <input type="submit" class="button radius small" value="Send">
            </div>
       }
        @*<script type="text/javascript">
            function validateForm() {
                return $('form0').validate().form();
            } 
            
        </script>*@ 
        	
        
        </div>
    
    </div>
   </section>
   <script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>

<script>

    $(function () {
        setTimeout(function () {
            $(".map-panel-dets").css("display", "none");
            $(".map-panel-dets").css("visibility", "visible");

        }, 1000);
    });
</script>