﻿@model AstonRoseFrondEnd.Models.MyProperty
<script type="text/javascript">
    function getPostSuccess() {

        if ($("#form1").text() == "") {
            alert('Your enquiry was submitted successfully, We will get back to you shortly.');
        }
        else {
            alert($("#form1").text());
        }


    }
    function showFaliure() {

        alert('There is an error, Please contact Aston Rose Administrator');
        alert($("form1").text());
    }
    function loadpage(pageIndex) {
        window.location.href = '@Url.Content("~/Property/MyProperties")' + '?pageIndex=' + pageIndex.toString();
    }
</script>
<section class="row content">
  
  	<div class="eight columns masthead">
  		<h1>My Property List</h1>
    </div>
    
    <div class="eight columns page-controls">
    	@{Html.RenderPartial("_Pagination",Model.Pagination);}

    </div>
    
 	<ul class="block-grid two-up prop-thumbs">
    @foreach (var p in Model.MyProperties)
    {
      <li>
      	<h1><a href="@Url.Action("detail", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(p.ToString()), Id = p.Id })">@p.ToString()</a></h1>
        	<div class="row">
            	<div class="four columns thumbnail"><a href="@Url.Action("detail", new { name = AstonRoseFrondEnd.Helpers.CommonHelper.GetSeoTitle(p.ToString()), Id = p.Id })"><img src="@AstonRoseFrondEnd.Helpers.CommonHelper.ScaleImage(p.Image, 216, 162)" alt=""></a><span class="under-offer">@p.Status</span></div>
                <div class="four columns propertylist">
                	<p><span>Type:</span> @p.Type<br/>
<span>Tenure:</span> @p.Tenure<br/>
<span>Price:</span> @p.Price<br/>
@if (!string.IsNullOrEmpty(p.Incentive))
{
<span>Incentive:</span> @p.Incentive
}</p>
    
<a href="@Url.Action("remove", new { propertyId = p.Id })" class="button radius small"><i class="icon-trash"></i>Remove</a>
                </div>
            </div><!-- end row -->
      </li>
    }
	</ul>
  

  <div class="eight columns page-controls">
    	@{Html.RenderPartial("_Pagination",Model.Pagination);}
    </div>
  
 <div class="row quick-enquiry">
        @using (Ajax.BeginForm("SendEnquiry", "Property", new AjaxOptions
        {
            //   OnBegin="validateForm",
             
            UpdateTargetId = "form1",
            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "getPostSuccess",
            OnFailure = "showFaliure"
        }))
        {
            <div style="display:none" id="form1"></div>
     <div class="eight columns">
        <h2>Quick Enquiry</h2>
        </div>
        
        	<div class="four columns">
            <label for="">Name</label>
            @Html.EditorFor(model => model.Enquiry.Name)
            @Html.ValidationMessageFor(model => model.Enquiry.Name)
            <label for="">Email</label>
            @Html.EditorFor(model => model.Enquiry.Email)
            @Html.ValidationMessageFor(model => model.Enquiry.Email)
             <label for="">Tel</label>
            @Html.EditorFor(model => model.Enquiry.Tel)
            @Html.ValidationMessageFor(model => model.Enquiry.Tel)
            </div>
            
            <div class="four columns">
             <label for="">Message</label>
            @Html.TextAreaFor(model => model.Enquiry.Message, new { style="height:150px"})
            </div>
            
            <div class="eight columns">
            <input type="submit" class="button radius small" value="Send">
            </div>
        }
        <script type="text/javascript">
            function validateForm() {
                return $('form0').validate().form();
            } 
            
        </script>
       
        
        </div>

  </section>
<!-- end row -->
