﻿@using Jmelosegui.Mvc.Controls
@using Telerik.Web.Mvc.UI
@using AstonRoseFrondEnd.Models;
@using AstonRoseFrondEnd.Helpers;
@using Jmelosegui.Mvc.Controls.Overlays
@using Mvc.Googlemap.Examples.App_Data
@using System.Globalization;



@model IEnumerable<Property>
@{
    //double? latitude = (from p in Model
    //                    select p.Latitude).Min();
    //double? longitude = (from p in Model
    //                     select p.Longitude).Max(); ;

    double latitude = ViewBag.latitude;
    double longitude = ViewBag.longitude;
    int zoom = ViewBag.mapzoom ?? 9;
}
@{ Html.Telerik().GoogleMap()
                .Name("map")
                .Culture(CultureInfo.CurrentCulture)
                .Width(925)
                .Height(600)
                .Latitude(latitude)
                .Longitude(longitude)
                //.Zoom(zoom)
                .BindTo<Property, Marker>
                (Model, mappings => mappings.For<Property>
                        (
                            binding => binding.ItemDataBound
                            (
                                (marker, obj) =>
                                {
                                    marker.Latitude = obj.Latitude ?? 0;
                                    marker.Longitude = obj.Longitude ?? 0;
                                    marker.Title = obj.ToString();



                                    marker.Window = new InfoWindow(marker)
                                                    {
                                                        Template =
                                                        {
                                                            Content = () => ViewContext.Writer.Write("<h2 style=\"width:300px\">" + obj.ToString() + "</h2>")
                                                        }
                                                    };
                                }
                            )
                        )
                ).Render();
}



<script>
   
</script>