﻿@using Telerik.Web.Mvc.UI
@model AstonRoseFrondEnd.Models.PropertyFilter
@using (Html.BeginForm("searchresult", "property", FormMethod.Get, new { id = "filterform"  }))
{
    @Html.Hidden("CurrentPageIndex")
    <div class="two columns">
        <label for="">
            Property Type</label>
        @Html.DropDownList("Proptype", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetPropertyTypeDropdowns(), "Value", "Text", ""))
    </div>
    <div class="two columns slider">
        <p class="cf">
            <label for="PropsizeF">
                Floor Area (FT&sup2;)</label>
            @Html.TextBox("PropsizeF")</p>
        <div id="slider-floor-areaf">
        </div>
    </div>
    <div class="two columns">
        <label for="">
            Property Category</label>
        @Html.DropDownList("Category", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetPropertyCategoryDropdowns(true), "Value", "Text", "Sale Let"))
    </div>
    <div class="two columns">
        <label for="">
            Property Tenure</label>
        @Html.DropDownList("Tenure", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetPropertyTenureDropdowns(), "Value", "Text", ""))
    </div>
    <div class="two columns" style="clear: left">
        <label for="">
            Search by Location</label>
              @(Html.Telerik().AutoComplete()
                .Name("AjaxAutoComplete")
                .DataBinding(binding => binding.Ajax().Select("_AutoCompleteAjaxLoading", "Property"))
                .HighlightFirstMatch(true)
                .AutoFill(true)
        )
        @Html.TextBox("Proplocation", "", new { placeholder = "Postcode, town, region.." })
        @Html.DropDownList("Distance", new SelectList(AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetDistanceDropdowns(), "Value", "Text", "5"))
    </div>
    <div class="two columns slider">
        <p class="cf">
            <label for="PropsizeM">
                Floor Area (M&sup2;)</label>
            @Html.TextBox("PropsizeM")</p>
        <div id="slider-floor-aream">
        </div>
    </div>
    if (ViewBag.CurrentPage != "Index")
    {
    <div class="four columns">
        <span class="title">By Region</span>
        <div class="row checkboxes">
            @foreach (var o in AstonRoseFrondEnd.Helpers.AstonRoseCMSHelper.GetExistingRegionDropdowns())
            {
                var optionValue = "MyOptions_" + o.Value; 
                <div class="four columns">
                    <label for="@optionValue">
                        <input type="checkbox" 
         id="@optionValue"
         name="Region"  @((Model.Region != null && Model.Region.Contains(o.Value)) ? "checked=checked" : "")
         value="@o.Value"/>@o.Text</label>
                </div>
                
            }
        </div>
    </div>
    }
    <div class="four columns">
        <input type="submit" value="Search" class="button radius" />
    </div>
}
<script src="@Url.Content("~/Scripts/javascripts/foundation.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/javascripts/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/javascripts/app.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery.noConflict();
     jQuery(document).ready(function($) {
    
        setTimeout(function () {
            $("#google_map").css("display", "none");
            $("#google_map").css("visibility", "visible");
        }, 1000);

        $("#slider-floor-areaf").slider({
            range: true,
            min: 0,
            max: 15000,
            values: [@(Model.FloorMinF), @(Model.FloorMaxF)],
            step: 50,
            slide: function (event, ui) {
                $("#PropsizeF").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#PropsizeF").val("" + $("#slider-floor-areaf").slider("values", 0) +
		" - " + $("#slider-floor-areaf").slider("values", 1));

        
        

        $("#slider-floor-areaf a:last, #slider-price a:last").addClass("right-handle");





         $("#slider-floor-aream").slider({
            range: true,
            min: 0,
            max: 1500,
            values: [@(Model.FloorMinM), @(Model.FloorMaxM)],
            step: 50,
            slide: function (event, ui) {
                $("#PropsizeM").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#PropsizeM").val("" + $("#slider-floor-aream").slider("values", 0) +
		" - " + $("#slider-floor-aream").slider("values", 1));

        
        

        $("#slider-floor-aream a:last, #slider-price a:last").addClass("right-handle");
    });
</script>
