﻿@model AstonRoseFrondEnd.Models.Pagination
@{
    var filter = Model;
    int totalPages = filter.TotalPages;
    int pageIndex = 0;
    int toStart = (filter.CurrentPageIndex - 1) % 4 == 0 ? filter.CurrentPageIndex : filter.CurrentPageIndex - ((filter.CurrentPageIndex - 1) % 4);
}

<ul class="pagination">
        @if (filter.CurrentPageIndex < 2)
        {
          <li class="arrow unavailable"><a href="#">&laquo;</a></li>
        }
        else
        {
            <li class="arrow"><a href="javascript:loadpage(@(filter.CurrentPageIndex - 1))">&laquo;</a></li>
        }

        @for (int p = toStart; totalPages > 0 && pageIndex < 6; pageIndex++, p++)
        {
            if (p == totalPages)
            {
                <li @((p) == filter.CurrentPageIndex ? "class=current" : "")><a  href="javascript:loadpage(@(p))">@(p)</a></li>
                break;
            }
            else if (pageIndex == 4 && totalPages > (toStart + 4))
            {
              
            <li ><a  href="javascript:loadpage(@(p))">&hellip;</a></li>
              <li @(totalPages == filter.CurrentPageIndex ? "class=current" : "")><a  href="javascript:loadpage(@totalPages)">@totalPages</a></li>
                break;
            }
            else if ((p) == (toStart + 4))
            {
                <li @(totalPages == filter.CurrentPageIndex ? "class=current" : "")><a  href="javascript:loadpage(@totalPages)">@totalPages</a></li>
                break;
            }
            <li @((p) == filter.CurrentPageIndex ? "class=current" : "")><a  href="javascript:loadpage(@(p))">@(p)</a></li>
        }
         
           @if (filter.CurrentPageIndex >= (filter.TotalPages - 1))
           {
          <li class="arrow unavailable"><a href="#">&raquo;</a></li>
           }
           else
           {
               <li class="arrow"><a href="javascript:loadpage(@(filter.CurrentPageIndex + 1))">&raquo;</a></li>
           }
		</ul>