﻿@{
    ViewBag.CurrentPage = "Index";
}
<section class="row content">
  
  	<div class="eight columns masthead">
  		<h1>Property Search</h1>
    </div>
    
    <div class="refine-panel cf">
    
    @{Html.RenderPartial("_Filters");} 
    
    </div>
  


  </section>
<!-- end row -->
