﻿@using Jmelosegui.Mvc.Controls
@using System.Globalization
@using Telerik.Web.Mvc.UI
@using AstonRoseFrondEnd.Models;
@using AstonRoseFrondEnd.Helpers;
@model AstonRoseFrondEnd.Models.PropertyView
@{
    var _breadTitle = Model.Search.FreeSearch;
    ViewBag.Title = "Property Results : " + _breadTitle;

    var currenturl = UrlHelperExtensions.UrlOriginal(Request);
    List<Property> properties = new List<Property>();

    double latitude = ViewBag.latitude ?? 0;
    double longitude = ViewBag.longitude ?? 0;

    foreach (var p in Model.SolrProperties)
    {
        Property _prop = SCHelpers.GetPropById(SCHelpers.EmptyIfInt(p.Id));
        if (_prop != null)
        {
            properties.Add(_prop);
            if (latitude == 0 && _prop.Latitude != null)
            {
                latitude = _prop.Latitude.Value;
                longitude = _prop.Longitude.Value;
            }
        }
    }

    ViewBag.latitude = latitude;
    ViewBag.longitude = longitude;
    
}


<script type="text/javascript">

    function AddToMyProperty(ctl, itemId) {
        $.getJSON(
        '@(Url.Action("AddToMyProperty", "Property"))',
        { propertyId: itemId },
        function (d) {

            $("#PropCount").text(d);
            $("#" + itemId).css("display", "none");
            $("#" + itemId).next().css("display", "");
        }
    );
    }
    function loadpage(pageIndex) {
        $("#CurrentPageIndex").val(pageIndex);
        $('#filterform').submit();
    }
</script>
<section class="row content">
  
  	<div class="eight columns masthead">
  		<h1>Search Results</h1>
    </div>
    
    <div class="eight columns page-controls">
@{
    Html.RenderPartial("_solrpagination", new SolrPaginationInfo
    {
        PageUrl = Url.SetParameter("page", "!0"),
        CurrentPage = Model.Search.PageIndex,
        PageSize = Model.Search.PageSize,
        TotalItemCount = Model.TotalCount,
    });
                    }
    	
        
        <a href="#" class="button radius small secondary map-but hide-for-small"><i class="icon-map-marker"></i>Location map</a>
        <a href="#" class="button radius small secondary refine-but"><i class="icon-search"></i><span class="text">Refine search</span></a>
        
    </div>
    
            
     <div class="map-panel hide" id="google_map" style="display:block;visibility:hidden">
        
        @{Html.RenderPartial("_DataBindingToModel", properties);}
     </div>
     
    
    <div class="refine-panel cf hide" >
    
     @{Html.RenderPartial("_Filters", Model.Filter);} 
    
    </div>
   
    
    <ul class="block-grid two-up prop-thumbs">
 	 @if (properties.Count > 0)
   {
       foreach (var _prop in properties)
       {
           Html.RenderPartial("_PropForListing", _prop);
       }
   }
   else
   { 
                        <p>There are no properties available that match your search.


  <br /><br />Please expand your search or call Aston Rose to discuss the type of property you are looking for.</p>
                        <p><a href="javascript:history.go(-1);" class="button red fr">Go Back</a></p>
   }
  
  </ul>
  <div class="eight columns page-controls">
    	@{
            Html.RenderPartial("_solrpagination", new SolrPaginationInfo
            {
                PageUrl = Url.SetParameter("page", "!0"),
                CurrentPage = Model.Search.PageIndex,
                PageSize = Model.Search.PageSize,
                TotalItemCount = Model.TotalCount,
            });
                    }
    	

    </div>
  
 

  </section>
<!-- end row -->
<script type="text/javascript">

    

</script>
