﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI;
@model CSR
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];    
}
@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Date)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Date)
    @Html.ValidationMessageFor(model => model.Date)
</div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.ShortDescription)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.ShortDescription, new { style = "Width: 400px; Height: 150px;" })
    @Html.ValidationMessageFor(model => model.ShortDescription)
</div>*@

<div class="editor-label">
    @Html.LabelFor(model => model.FullDescription)
</div>
<div class="editor-field">
    @*@Html.EditorFor(model => model.FullDescription, "RichEditor")*@
    @Html.EditorFor(model => model.FullDescription, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.FullDescription)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Image)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="FileUpload" />
    }
    else
    {
        if (Model.Image == null || Model.Image == string.Empty)
        {
        <input type="file" name="FileUpload" />      
        }
        else
        {
        <input type="file" name="FileUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.Image)">@Model.Image</a>
        <a href="@Url.Action("DeleteImage", new { id = Model.Id, filename = Model.Image })">Delete</a>
        <input type="hidden" name="oldFileUpload" value="@Model.Image" />                        
        }
    }
</div>
<div class="editor-label">
    <p>(OR)</p>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Video)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Video)
    @Html.ValidationMessageFor(model => model.Video)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.HomePageDisplay)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.HomePageDisplay)
    @Html.ValidationMessageFor(model => model.HomePageDisplay)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.GoLive)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GoLive)
    @Html.ValidationMessageFor(model => model.GoLive)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.MetaTitle)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MetaTitle)
    @Html.ValidationMessageFor(model => model.MetaTitle)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.MetaDescription)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MetaDescription)
    @Html.ValidationMessageFor(model => model.MetaDescription)
</div>