﻿@model AstonRoseCMS.Models.CSR

@{
    ViewBag.Title = "Edit";
}

<h2>Edit CSR</h2>

@Html.ActionLink("Back to List", "Index")<br /><br />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "news-form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        
        @Html.Partial("_CreateOrEditCSR", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

