﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model CSRListModel
@{
    ViewBag.Title = "CSR List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>CSR List</h2>

<p>
    @Html.ActionLink("Create CSR", "Create")
</p>

@(Html.Telerik().Grid<CSR>(Model.CSRList.Data)
    .Name("events-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Title).Width(600);
        columns.Bound(x => x.Date).Title("Date").Format("{0:dd/MM/yyyy}");
        //columns.Bound(x => x.HomePageDisplay).Title("Display on Home Page").Template(x => x.HomePageDisplay.ToString().ToLower());
        columns.Bound(x => x.GoLive).Title("Go Live").Template(x => x.GoLive.ToString().ToLower());
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
    })
    .Pageable(settings => settings.Total(Model.CSRList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "CSR"))
    .EnableCustomBinding(true))