﻿@using System.Configuration
@using AstonRoseCMS.Helpers
@model AstonRoseCMS.Models.Offices
@{
    ViewBag.FileUploadURL = ConfigurationManager.AppSettings["FileUploadURL"];
}
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DisplayOrder)
@Html.HiddenFor(model => model.GoogleMapURL)
@Html.ValidationSummary(true)

<div class="editor-label">
    @Html.LabelFor(model => model.OfficeName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.OfficeName)
    @Html.ValidationMessageFor(model => model.OfficeName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AddressLine1)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AddressLine1)
    @Html.ValidationMessageFor(model => model.AddressLine1)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AddressLine2)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AddressLine2)
    @Html.ValidationMessageFor(model => model.AddressLine2)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AddressLine3)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AddressLine3)
    @Html.ValidationMessageFor(model => model.AddressLine3)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.County)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.County)
    @Html.ValidationMessageFor(model => model.County)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PostCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PostCode)
    @Html.ValidationMessageFor(model => model.PostCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Telephone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Telephone)
    @Html.ValidationMessageFor(model => model.Telephone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Fax)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Fax)
    @Html.ValidationMessageFor(model => model.Fax)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.WelcomeTitle)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.WelcomeTitle)
    @Html.ValidationMessageFor(model => model.WelcomeTitle)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description, "RichEditor.Telerik")
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ContactId1)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ContactId1, Model.AvailableOfficeContact1)
    @Html.ValidationMessageFor(model => model.ContactId1)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ContactId2)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ContactId2, Model.AvailableOfficeContact2)
    @Html.ValidationMessageFor(model => model.ContactId2)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.BannerImage)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="BannerImageUpload" />
    }
    else
    {
        if (Model.BannerImage == null || Model.BannerImage == string.Empty)
        {
        <input type="file" name="BannerImageUpload" />      
        }
        else
        {
        <input type="file" name="BannerImageUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.BannerImage)">@Model.BannerImage</a>
        <a href="@Url.Action("DeleteBannerImage", new { id = Model.Id, filename = Model.BannerImage })">Delete</a>
        <input type="hidden" name="oldBannerImageUpload" value="@Model.BannerImage" />                        
        }
    }
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ThumbImage)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="ThumbImageUpload" />
    }
    else
    {
        if (Model.ThumbImage == null || Model.ThumbImage == string.Empty)
        {
        <input type="file" name="ThumbImageUpload" />      
        }
        else
        {
        <input type="file" name="ThumbImageUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.ThumbImage)">@Model.ThumbImage</a>
        <a href="@Url.Action("DeleteThumbImage", new { id = Model.Id, filename = Model.ThumbImage })">Delete</a>
        <input type="hidden" name="oldThumbImageUpload" value="@Model.ThumbImage" />                        
        }
    }
</div>
 <div class="editor-label">
        @Html.LabelFor(model => model.MetaTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaTitle)
        @Html.ValidationMessageFor(model => model.MetaTitle)
    </div>

      <div class="editor-label">
        @Html.LabelFor(model => model.MetaDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaDescription)
        @Html.ValidationMessageFor(model => model.MetaDescription)
    </div>