﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model OfficesListModel
@{
    ViewBag.Title = "Offices List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>Office List</h2>

<p>
    @Html.ActionLink("Create Office", "Create")
</p>

@(Html.Telerik().Grid<Offices>(Model.OfficesList.Data)
    .Name("offices-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.OfficeName).Width(600);
        columns.Bound(x => x.City);
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
    })
    .Pageable(settings => settings.Total(Model.OfficesList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Offices"))
    .EnableCustomBinding(true))