﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model NewsListModel
@{
    ViewBag.Title = "News List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>News List</h2>

<p>
    @Html.ActionLink("Create News", "Create")
</p>

@(Html.Telerik().Grid<News>(Model.NewsList.Data)
    .Name("events-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Title).Width(600);
        columns.Bound(x => x.NewsDate).Title("News Date").Format("{0:dd/MM/yyyy}");
        //columns.Bound(x => x.HomePageDisplay).Title("Display on Home Page").Template(x => x.HomePageDisplay.ToString().ToLower());
        columns.Bound(x => x.GoLive).Title("Go Live").Template(x => x.GoLive.ToString().ToLower());
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
    })
    .Pageable(settings => settings.Total(Model.NewsList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "News"))
    .EnableCustomBinding(true))