﻿@using System.Configuration
@using AstonRoseCMS.Helpers
@model AstonRoseCMS.Models.Client
@{
    ViewBag.CVFileUploadURL = ConfigurationManager.AppSettings["CVFileUploadPath"];
}
@Html.HiddenFor(model => model.Id)
@Html.ValidationSummary(true)
    @if (Model.Id == 0)
    {
        <h2>Register</h2>
    }
    else
    {
        <h2>Profile</h2>
    }

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ShortDescription)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.ShortDescription)
        @Html.ValidationMessageFor(model => model.ShortDescription)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Website)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Website)
        @Html.ValidationMessageFor(model => model.Website)
    </div>
      
    <div class="editor-label">
    @Html.LabelFor(model => model.Logo)
</div>
<div class="editor-field">
    @if (Model.Id == 0)
    { 
        <input type="file" name="LogoUpload" />
    }
    else
    {
        if (Model.Logo == null || Model.Logo == string.Empty)
        {
        <input type="file" name="LogoUpload" />      
        }
        else
        {
        <input type="file" name="LogoUpload" /> <br />
        <a href="@Url.Content(ViewBag.FileUploadURL + @Model.Logo)">@Model.Logo</a>
        <a href="@Url.Action("DeleteLogo", new { id = Model.Id, filename = Model.Logo})">Delete</a>
        <input type="hidden" name="oldLogoUpload" value="@Model.Logo" />                        
        }
    }
</div>

    
    <div class="editor-label">
        @Html.LabelFor(model => model.MetaTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaTitle)
        @Html.ValidationMessageFor(model => model.MetaTitle)
    </div>

      <div class="editor-label">
        @Html.LabelFor(model => model.MetaDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MetaDescription)
        @Html.ValidationMessageFor(model => model.MetaDescription)
    </div>

<script type="text/javascript">

    $(function () {
        var modeltitle = '@Model.Name';
        if (modeltitle != "") {
            $("#Title").val(modeltitle);
        }
    });
</script>