﻿@using System.Configuration
@using AstonRoseCMS.Models
@using Telerik.Web.Mvc.UI
@model ClientListModel
@{
    ViewBag.Title = "Client List";
    int _pagesize = Convert.ToInt32(ConfigurationManager.AppSettings["DefaultGridPageSize"]);
    var gridPageSize = _pagesize;
}

<h2>Client List</h2>

<p>
    @Html.ActionLink("Create Client", "Create")
</p>

@(Html.Telerik().Grid<Client>(Model.ClientList.Data)
    .Name("client-grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Name);
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
            .ClientTemplate("<a href=\"Edit/<#= Id #>\">Edit</a>")
            .Title("Edit");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }))
            .ClientTemplate("<a href=\"Delete/<#= Id #>\">Delete</a>")
            .Title("Delete");
        columns.Bound(x => x.Id)
            .Width(50)
            .Template(x => Html.ActionLink("ClientJobs", "ClientJobsList", new { id = x.Id }))
            .ClientTemplate("<a href=\"ClientJobsList/<#= Id #>\">ClientJobs</a>")
            .Title("ClientJobs");
    })
    .Pageable(settings => settings.Total(Model.ClientList.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Client"))
    .EnableCustomBinding(true))