﻿@model AstonRoseFrondEnd.Models.ContactModel
@{
    var offices = Model.Offices;
    var contacts = Model.Contacts;
}
<section class="row content">
    <div class="eight columns masthead">
  		<h1>Contact</h1>
        
    </div>
    
    <div class="six columns">
    	<h2>Directors</h2>
        
        <div class="row">
        
        	
            @{int i = 0; int length = contacts.Count;

              int firstColCount = 5;
              if (length > firstColCount)
              {
                  if (length / 2 > firstColCount)
                  {
                      firstColCount = (length / 2) + 1;
                  }
              }
              else
              {
                  firstColCount = length;
              }
              int secondColumnCount = length - firstColCount;


              if (firstColCount > 0)
              {
                  <div class="four columns">
                  @for (int j = 0; j < firstColCount; j++)
                  {
                      var item = contacts[j];
                            <h3><b>@item.Department</b></h3>
                            <p><b>@item.Name </b><br/>
                            <i class="icon-phone"></i> @item.Telephone<br/>
                            <i class="icon-envelope-alt"></i> <a href="mailto:@item.Email">@item.Email</a></p>
                      if (j < firstColCount - 1)
                      {
                              <hr/>
                      }
                  }
                  </div>
              }
              

                if (secondColumnCount > 0)
                {

                <div class="four columns">
                    @for (int j = firstColCount ; j < length; j++)
                    {
                        var item = contacts[j];
                            <h3><b>@item.Department</b></h3>
                            <p><b>@item.Name</b><br/>
                            <i class="icon-phone"></i> @item.Telephone<br/>
                            <i class="icon-envelope-alt"></i> <a href="mailto:@item.Email">@item.Email</a></p>
                        if (j < length - 1)
                        {
                              <hr/>
                        }
                    }
                    </div>
                }
              }


            
        
        </div>
    
    </div>
    
    <div class="two columns">
    	<h2>Offices</h2>
    @{ i = 0; length = offices.Count;}    
@foreach (var office in offices)
{
    i++;
        <h3><b>@office.OfficeName</b></h3>
      <p>@Html.Raw(office.ToString())
      @if(!string.IsNullOrEmpty( office.Telephone))
      {
<text><i class="icon-phone"></i>  @office.Telephone<br/> </text>
      }
      @if (!string.IsNullOrEmpty(office.Fax))
      {
<text><i class="icon-phone"></i>  @office.Fax<br/> </text>
      }
       @if (!string.IsNullOrEmpty(office.Email))
      {
<text><i class="icon-envelope-alt"></i> <a href="mailto:@office.Email">@office.Email</a><br/></text>
      }

<a href="@office.GoogleMapURL" target="_blank">View Map</a></p> <hr/>
    if (i < length - 1)
    {
    }
}
    </div>
    
    
    
  </section>
<!-- end row -->
